.LoadingRoot {
  background-image: url("file://{images}/custom_game/loading/l_bg.png");
  background-size: 2520px 1200px;
  background-position: center center;
}
.Logo {
  background-image: url("file://{images}/custom_game/loading/logo.png");
  background-size: 100%;
  width: 590px;
  height: 310px;
  margin-top: 31px;
  margin-left: -40px;
  z-index: 100;
}
#CompanyLogo {
  background-image: url("file://{images}/custom_game/loading/loading_company_english.png");
  /* background-image: url("file://{images}/custom_game/loading/loading_company.png"); */
  background-size: 100%;
  width: 277px;
  height: 50px;
  align: center bottom;
  margin-bottom: 28px;
}
.schinese #CompanyLogo,
.Schinese #CompanyLogo {
  width: 228px;
  height: 53px;
  background-image: url("file://{images}/custom_game/loading/loading_company.png");
}
@keyframes 'FadeIn' {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
