.CustomHudRoot {
  width: 100%;
  height: 100%;
  z-index: 61;
}
#MenuMain {
  width: 100%;
}
#MenuMain #MenuBar {
  width: 100%;
  flow-children: right;
}
#MenuMain #DropContainer {
  width: 200px;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  transform: translateY(-20px);
  flow-children: down;
  overflow: noclip;
  padding: 6px;
}
#MenuMain #DropContainer.Show {
  opacity: 1;
  transform: translateY(0px);
}
#MenuMain #DropContainer #MarginTop {
  height: 61px;
  width: 46px;
  horizontal-align: center;
}
#MenuMain #DropContainer #DropMain {
  width: 100%;
  flow-children: down;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 0px #000000cc;
  border-brush: gradient(linear, 0% 0%, 0% 100%, from(#a09a72), to(#755417));
  background-color: gradient(linear, 0% 0%, 100% 100%, from(#273163), to(#3c5a90));
}
#MenuMain #DropContainer .DropdownItem {
  width: 100%;
  height: 38px;
}
#MenuMain #DropContainer .DropdownItem Label {
  margin-left: 30px;
  margin-right: 30px;
  horizontal-align: center;
  vertical-align: center;
  text-align: center;
  text-overflow: shrink;
}
#MenuMain .MenuButton {
  width: 46px;
  overflow: noclip;
}
#MenuMain .MenuButton:disabled:hover {
  brightness: 1;
}
#MenuMain .MenuButton .BGImage {
  width: 46px;
  height: 46px;
}
#MenuMain .MenuButton .FrontImage {
  opacity: 1;
}
#MenuMain .MenuButton .HoverImage {
  opacity: 0;
}
#MenuMain .MenuButton.Selected,
#MenuMain .MenuButton.ShowDropDown {
  brightness: 1;
}
#MenuMain .MenuButton.Selected .FrontImage,
#MenuMain .MenuButton.ShowDropDown .FrontImage {
  opacity: 0;
}
#MenuMain .MenuButton.Selected .HoverImage,
#MenuMain .MenuButton.ShowDropDown .HoverImage {
  opacity: 1;
}
#MenuMain .MenuButton.Selected .MenuLabel,
#MenuMain .MenuButton.ShowDropDown .MenuLabel {
  color: #DFF1FE;
}
#MenuMain .MenuButton .MenuMarkIcon {
  align: right top;
  transform: translateX(10px) translateY(-6px);
}
#MenuMain .MenuButton .Mark {
  background-image: url("file://{images}/custom_game/icon/s_dot.png");
  background-size: 100%;
  width: 42px;
  height: 42px;
  align: right top;
  transform: translateX(10px) translateY(-6px);
}
#MenuMain .MenuLabel {
  margin-top: 46px;
  text-align: center;
  width: 46px;
  font-size: 13px;
  color: #9CC0E8;
  text-shadow: 0px 0px 2px 3 #000000;
}
#MenuMain .FrontImage.Return {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/return.png");
}
#MenuMain .FrontImage.setting {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/set.png");
}
#MenuMain .FrontImage.mail {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/mail.png");
}
#MenuMain .FrontImage.store {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/shop.png");
}
#MenuMain .FrontImage.battlepass {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/card.png");
}
#MenuMain .FrontImage.draw {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/treasure.png");
}
#MenuMain .FrontImage.activity {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/act.png");
}
#MenuMain .FrontImage.hero {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/hero.png");
}
#MenuMain .FrontImage.inventory {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/inventory.png");
}
#MenuMain .FrontImage.profile {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/files.png");
}
#MenuMain .FrontImage.handbook {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/book.png");
}
#MenuMain .FrontImage.rank {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/rank.png");
}
#MenuMain .HoverImage.Return {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/return_01.png");
}
#MenuMain .HoverImage.setting {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/set_01.png");
}
#MenuMain .HoverImage.mail {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/mail_01.png");
}
#MenuMain .HoverImage.store {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/shop_01.png");
}
#MenuMain .HoverImage.battlepass {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/card_01.png");
}
#MenuMain .HoverImage.draw {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/treasure_01.png");
}
#MenuMain .HoverImage.activity {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/act_01.png");
}
#MenuMain .HoverImage.hero {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/hero_01.png");
}
#MenuMain .HoverImage.inventory {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/inventory_01.png");
}
#MenuMain .HoverImage.profile {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/files_01.png");
}
#MenuMain .HoverImage.handbook {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/book_01.png");
}
#MenuMain .HoverImage.rank {
  background-image: url("file://{images}/custom_game/eom_design/menu_icon/rank_01.png");
}
#MenuMain .EOM_BaseButton.russian .MenuLabel {
  text-overflow: shrink;
}
#MenuMain #scoreboardLabel {
  color: #cbb98c;
}
#MenuMain #RedPoint {
  width: 30px;
  height: 30px;
  align: right top;
  margin: 4px;
  background-image: url("file://{images}/custom_game/icon/dot_small.png");
  background-size: 100%;
}
#MenuMain #DropdownRedPoint {
  ignore-parent-flow: true;
  layout-position: fixed;
  align: right center;
  width: 30px;
  height: 30px;
  vertical-align: center;
  background-image: url("file://{images}/custom_game/icon/dot_small.png");
  background-size: 100%;
}
.EOM_BaseButton {
  background-size: 100%;
  background-repeat: no-repeat;
  transition-property: brightness, color;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.EOM_BaseButton:not(:disabled):hover {
  brightness: 2;
}
.EOM_BaseButton:not(:disabled):active {
  brightness: 0.5;
  sound: "ui_generic_button_click";
}
.EOM_BaseButton:disabled {
  saturation: 0;
  brightness: 0.5;
}
.EOM_Button {
  width: 234px;
  height: 68px;
  padding: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  transition-property: brightness, color;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
.EOM_Button Label {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 2px;
  align: center center;
  text-align: center;
  text-shadow: 0px 0px 5px 2 #000000;
  transition-property: color, opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}
.EOM_Button:disabled {
  saturation: 1;
  brightness: 1;
  cursor: not-allowed;
  background-image: url("file://{images}/custom_game/eom_design/button/btn_gray.png");
}
.EOM_Button:disabled Image {
  wash-color: #919191;
}
.EOM_Button:disabled Label {
  color: #ffffff40;
}
.EOM_Button.color-Red {
  background-image: url("file://{images}/custom_game/eom_design/button/btn_red.png");
}
.EOM_Button.color-Green {
  background-image: url("file://{images}/custom_game/eom_design/button/btn_green.png");
}
.EOM_Button.color-Purple {
  background-image: url("file://{images}/custom_game/eom_design/button/btn_purple.png");
}
.EOM_Button.color-Gray {
  background-image: url("file://{images}/custom_game/eom_design/button/btn_gray.png");
}
.EOM_Button.color-Gold {
  background-image: url("file://{images}/custom_game/eom_design/button/btn_gold.png");
}
.EOM_Button.color-Blue {
  background-image: url("file://{images}/custom_game/eom_design/button/btn_blue.png");
}
.EOM_Button.size-Small {
  ui-scale: 80%;
}
.EOM_Button.size-Normal {
  width: 234px;
  height: 68px;
}
.EOM_Button.size-Large {
  ui-scale: 120%;
}
.EOM_Button .EOM_Button_Content {
  align: center center;
  flow-children: right;
}
.EOM_Button .EOM_Button_Content > Image {
  margin: 0px 4px;
  background-size: 100%;
  vertical-align: center;
}
.EOM_Button.Loading .EOM_Button_LoadingIcon {
  width: 24px;
  height: 24px;
  background-image: url("s2r://panorama/images/control_icons/party_finder_icon_03_png.vtex");
  background-size: 100%;
  animation-name: SpinnerRotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.EOM_Button.Loading_Refresh .EOM_Button_LoadingIcon {
  background-image: url("s2r://panorama/images/control_icons/refresh_psd.vtex");
}
.EOM_CloseButton {
  width: 34px;
  height: 36px;
  background-image: url("file://{images}/custom_game/eom_design/button/btn_close.png");
  background-size: 100%;
}
