tools_asset_info.bin
tools_thumbnail_cache.bin

node_modules

*.bin
*.vxml_c
*.vjs_c
*.vcss_c
*.cfg
~$*.xlsx
~$*.docx
~$*.xlsm
.dota2editor
*.vpdi_c

*.soc

word_filter_1.txt
word_filter_cache_1.dat
custom_game_whitelist.txt
tools_asset_info.bin
tools_thumbnail_cache.bin
*.map
AssetBrowserSavedSearches.kv3
tsconfig.tsbuildinfo